@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Code Pro', monospace;
}

.bg {
    background: #030157;
    opacity: 50px;
}
.main-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px;
}

.font1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 25%;
}

.hero-wrap {
    width: 100%;
    height: 690px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
    animation: animate 30s infinite;
}
@keyframes animate {
    0% {
        background-image: url('images/gonggong2.jpg');
    }
    25% {
        background-image: url('images/lagoi.jpg');
    }
    50% {
        background-image: url('images/patung.jpeg');
    }
    75% {
        background-image: url('images/trikora.jpg');
    }
    100% {
        background-image: url('images/golf.jpg');
    }
}
.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.5;
    background: #030157;
    height: 690px;
}
.hero-wrap .main-text {
    height: 800px !important;
}
.main-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.1;
    font-weight: bold;
}
.main-text p {
    line-height: 1.5;
    color: #fff;
}
.btn-hero {
    background-color: #030157 !important;
    color: #fff !important;
    margin-right: 5px;
    margin-left: 5px;
    animation: skew 3s infinite;
    animation-direction: normal;
    transform: skew(20deg);
    animation-direction: alternate;
    padding: 5px 17px;
}
@keyframes skew {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}

.heading-section h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.img-wrap .effect {
    position: relative;
    margin-bottom: 0;
    display: block;
}
.img-fluid {
    height: 139.4px;
}
.img-wrap .effect:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: #011525;
    transition: 0.3s all ease-in-out;
}
.img-wrap:hover .effect:after {
    right: -10px;
    bottom: -10px;
    position: absolute;
}
.btn-about {
    background-color: #030157 !important;
    color: #fff !important;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 17px;
}

.popular {
    padding-top: 20px;
    padding-bottom: 340px;
}

.all-image {
    padding-bottom: 20px;
    position: relative;
    margin-top: -295px;
}
.all-image .single-img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.all-image .single-img .img-thumb {
    height: 410px;
}
.all-image .single-img .img-thumb img {
    width: 100%;
    height: 100%;
}
.all-image .single-img .img-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(2, 58, 110, 0.6);
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
}
.all-image .single-img .img-hover .title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
.all-image .single-img .img-hover h3 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.all-image .single-img:hover .img-hover {
    transform: translateX(0%);
    opacity: 1;
}

.contact form {
    box-shadow: 0 0 1px 0;
    padding: 27px;
    width: 100%;
}

#footer {
    margin-top: 20px;
    padding: 0 0 30px 0;
    color: #000;
    font-size: 16px;
    background: #030157;
}

#footer .copyright {
    float: left;
    color: #fff;
}
#footer .credits {
    float: right;
    font-size: 16px;
    color: #fff;
}
#footer .credits a {
    color: #fff;
}
@media (max-width: 575px) {
    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
    }
}
